@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

.hero {
    background-image: url('../../assets/img/burger-fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    background-color: rgb(243, 130, 0);
    box-sizing: border-box;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.headings {
    margin: 50px auto 20px auto;
    background-color: rgba(37, 37, 37, 0.8);
    max-width: 800px;
    text-align: center;
    padding: 40px;
    margin-bottom: 0;
}
.hero h1 {
    font-size: 100px;
}
.hero h3 {
    font-size: 40px;
}

.hero .descripcion {
    background-color: rgba(109, 109, 109, 0.8);
    margin: auto;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 50px;
}
.hero p{
    font-size: 30px;
    color: #fff;
    font-weight: 100;
}

@media (max-width: 800px) {
    .hero h1 {
        font-size: 60px;
    }

    .hero {
        background-size: 180%;
        background-position: 100%;
    }

    .hero .headings,
    .hero .descripcion {
        margin: 0 auto;
    }

}

@media (max-width: 600px){
    .hero {
        background-size: 200%;
        background-position: 100% 100%;
    }
}